[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argon2-cffi = "==23.1.0"
argon2-cffi-bindings = "==21.2.0"
asgiref = "==3.8.1"
certifi = "==2024.7.4"
cffi = "==1.17.0"
charset-normalizer = "==3.3.2"
cryptography = "==43.0.0"
defusedxml = "==0.8.0rc2"
django = "==5.1"
django-restframework = "==0.0.1"
django-stubs = "==5.0.4"
django-stubs-ext = "==5.0.4"
django-templated-mail = "==1.1.1"
djangorestframework = "==3.15.2"
djangorestframework-simplejwt = "*"
djoser = "==2.2.3"
idna = "==3.7"
oauthlib = "==3.2.2"
psycopg2-binary = "==2.9.9"
pycparser = "==2.22"
pyjwt = "==2.9.0"
python-dotenv = "==1.0.1"
python3-openid = "==3.2.0"
requests = "==2.32.3"
requests-oauthlib = "==2.0.0"
social-auth-app-django = "==5.4.2"
social-auth-core = "==4.5.4"
sqlparse = "==0.5.1"
types-pyyaml = "==6.0.12.20240808"
typing-extensions = "==4.12.2"
urllib3 = "==2.2.2"
django-cors-headers = "*"
python-decouple = "*"
redis = "*"
celery = "*"
cloudinary = "*"
django-countries = "*"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}
babel = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
